<div class="container">
    <mat-card class="matCard-size">
        <form (submit)="submit()" [formGroup]="loginForm" class="form-size">
            <div class="form-flex">
                <div>
                    <h1><b> Login </b></h1>
                </div>
                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>Username</mat-label>
                        <input formControlName="userName" matInput>
                        <mat-error *ngIf="loginForm.controls.userName.touched && loginForm.controls.userName.invalid">
                            This field is mandatory.
                        </mat-error>
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field appearance="fill" style="padding: 10px;">
                        <mat-label>Password</mat-label>
                        <input formControlName="password" matInput type="password">
                        <mat-error *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
                            This field is mandatory.
                        </mat-error>
                    </mat-form-field>
                </div>
                <mat-error style='padding-bottom: 10px;' *ngIf="error_status">Please provide valid credentials.
                </mat-error>
                <div>
                    <button [disabled]="!loginForm.valid" color="primary" mat-flat-button type="submit">Sign in</button>
                </div>
                <div>
                    <br>
                    <a [routerLink]="">Forgot Password</a>
                </div>
                <div>
                    <a (click)="userRegistration()" [routerLink]="">New User ? Sign Up</a>
                </div>
            </div>
        </form>
    </mat-card>
</div>