.example-card {
    max-width: 800px;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.container {
    display: flex;
    padding-left: 50%;
}

.logout_container {
    padding-left: 20%;
    width: 20px;
}

.addProduct_container {
    padding-left: 58%;
    width: 6px;
}